body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .question-block {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-left: 20px;
    cursor: pointer;
  }
  
  h1 {
    text-align: center;
  }

.highlight {
  color: green;
  font-weight: bold;
}

  
